@font-face {
  font-family: stretch;
  src: url(./../font/StretchPro.otf);
}

.heroWhole {
  height: 100vh;
  background-color: rgb(20, 20, 20);
  position: sticky;
  top: 0;
  background-image: url("./../images/bg2.png");
  background-size: cover;
  background-blend-mode: difference;
}
.heroWhole h1 {
  font-size: 6.5rem;
  mix-blend-mode: difference;
  font-family: stretch;
  color: var(--maroon);
}
.heroWhole h2 {
  color: white;
  font-size: 4.5rem;
  mix-blend-mode: difference;
  opacity: 0.7;
  font-family: stretch;
}
.heroWhole h3 {
  color: white;
  font-size: 2.5rem;
  mix-blend-mode: difference;
  opacity: 0.4;
  font-family: stretch;
}
.texts {
  position: absolute;
  bottom: -4.5rem;
  left: 2rem;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.322), transparent);
  padding: 1rem;
  padding-bottom: 0;
  /* mix-blend-mode: difference; */
  border-bottom-right-radius: 3rem;
  box-shadow: white 0rem 1.2rem 1rem -1rem;
  z-index: 2;
}
.heroPic {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
}
.heroPic div {
  height: 30rem;
  max-height: 60%;
  aspect-ratio: 8/10;
  right: 15%;
  position: absolute;
  border: var(--maroon) solid 3px;
  box-sizing: border-box;
}
.heroPic div::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 1rem;
  left: 1rem;
  border: white solid 3px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.heroPic div:hover::after {
  top: -1rem;
  left: -1rem;
}
.heroPic div:hover {
  background-image: url(./../images/picture.png);
  background-size: cover;
  background-color: var(--maroon);
}
.heroPic div:hover img {
  display: none;
}
.heroPic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.heroWhole p {
  color: var(--lightblue);
  font-size: 2.5rem;
  position: absolute;
  bottom: 22rem;
  font-weight: bolder;
  line-height: 2.8rem;
  left: 3rem;
  animation: herop 1s infinite alternate-reverse;
}
@keyframes herop {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-2rem);
  }
}

/* div {
  border: red solid 1px;
} */
